*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background-image: url(./background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mist{
    font-weight: 900;
    font-size: 20px;
    color: #0048ff;
    text-shadow: 2px 2px 2px rgb(255, 238, 2);
}
.card{
    padding: 14px;
    height: 450px;
    width: 300px;
    background-color: rgba(17, 99, 170, 0);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 2px white;
}
.title{
    text-align: center;
    margin-top: 7px;
    color: rgb(255, 255, 255 );
    text-shadow: 1px 4px 5px black;
    font-size: 35px;
}
.title2{
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 3, 3);
    text-shadow: 2px 2px 2px black;
}
.input{
    padding: 7px;
    background-color: transparent;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 10%;
    width: 70%;
}
.icon{
    margin-left: 27%;
    font-size: 110px;
    color: rgb(251, 239, 224);
    text-shadow: 2px 2px 2px black;

}
.btn{
    padding: 7px;
    border: none;
    border-radius: 10px;
    background-color: rgb(209, 181, 235);
    font-weight: 900;
}
.box2{
    height: 30%;
    width: 100%;
    display: flex;
    margin-top: 30px;
    border-radius: 20px;
    background-image: linear-gradient(to top left, rgb(125, 125, 227),rgba(107, 165, 171, 0.707),blue);
}
.sbox1{
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.sbox2{
    height: 100%;
    width: 50%;
    background-color:  transparent;
    display: flex;
    flex-direction: column;
}
.btn4{
    margin-top: 10%;
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: antiquewhite;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;

}
.icon3{
    margin-left: 20%;
    margin-top: 15%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    
}
.span{
    color: rgb(47, 255, 0);
    font-size: 25px;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
}
::placeholder{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 15px;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
}